@model IEnumerable<FashionStones.Models.Domain.Entities.OrderDetail>

@{
    ViewBag.Title = "Редактирование списка покупок";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}
<h2>Заказ № @Model.First().OrderId</h2>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript">
 

    (function($) {
        var recordToDelete;
        var theHREF;
        $('.deleteLink').click(function (e) {
            e.preventDefault();
            recordToDelete = $(this).attr("rowId");
         
            theHREF = $(this).attr("href");

            $('#dialog-confirm').dialog('open');
        });
        $('#dialog-confirm').dialog({
            autoOpen: false,
            height: 280,
            modal: true,
            resizable: false,
            buttons: {
                'Продолжить': function () {
                    $.post(theHREF, null, function (json) {
                        if (json.success) {
                            $('#row-' + recordToDelete).fadeOut('slow');
                        }
                        else {
                            var warrning = $("#div-dialog-warning  p").html();
                            $("#div-dialog-warning  p").html(warrning + json.errorMessage);
                            $("#div-dialog-warning").dialog({
                                resizable: false,
                                width: 500,
                                height: 280,
                                modal: true,
                                buttons: {
                                    "Ок": function () {

                                        $(this).dialog("close");
                                    }
                                },
                                close: function () {
                                    $("#div-dialog-warning  p").html(warrning);

                                }
                            }).parent().addClass("ui-state-error");
                        }
                    },
           'json');
                    $(this).dialog('close');
                },
                'Отмена': function () {
                    $(this).dialog('close');
                }
            }
        });
    })(jQuery);


    


</script>



<div class="content_in">
     <table>
            <tr>
                <th>
                    Название
                </th>
                <th>
                    Категория
                </th>
       
                <th>
                    Упаковка (г)
                </th>
                <th>
                    Количество
                </th>
                <th>
                
                    Цена (грн)
                </th>
                 <th>
                
                  Управление
                </th>
            </tr>

            @foreach (var item in Model) {
                <tr  id ="row-@item.Id">
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
        
                    <td>
                        @Html.DisplayFor(modelItem => item.UnitPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)        
                    </td>
                    <td>
                       @Html.DisplayFor(modelItem => item.UnitTotalProce)
                    </td>
    
                    <td>
                        @Html.ActionLink("Редактировать", "EditItemFromOrderDetails",
                         new { id=item.Id }, new { @class = "editLink" }) |
                       @Html.ActionLink("Удалить", "DeleteFromListOrder",
                           new { id=item.Id }, new { @class = "deleteLink" ,rowId=item.Id}) 

                    </td>
      
                </tr>
            }
        </table>

</div>

<p>
    @Html.ActionLink("К заказу", "EditOrder", new {  id=Model.First().OrderId }) 

</p>

<div id="dialog-confirm" title="Подтверждение" style="display:none;">
    <p>Вы действительно хотите удалить данную позицию? </p>
</div>

<div style="display:none" id="div-dialog-warning"  title="Ошибка">
    <p><span class="ui-icon ui-icon-alert alert-image"></span></p>
</div>