@model FashionStones.Models.Domain.Entities.OrderDetail

@{
    ViewBag.Title = "EditItemFromOrderDetails";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h2>EditItemFromOrderDetails</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>OrderDetail</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(m=>m.OrderId)

        <div class="form-group">
           Количество единиц
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" ,min="1"} })
                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
           Цена 1 единицы товара
            <div class="col-md-10">
                @Html.EditorFor(model => model.UnitPriceString, new { htmlAttributes = new { @class = "form-control" } })
              
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(" К списку заказанной продукции", "EditOrder", new { id = Model.OrderId })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
