@model FashionStones.Models.Domain.Entities.Cover

@{
    ViewBag.Title = "Удаление покрытия";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h3>Вы уверены что хотите удалить данное покрытие?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <dt>
            <h4>@Html.DisplayNameFor(model => model.Name)</h4>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Список покрытий", "Index")
        </div>
    }
</div>
