@model FashionStones.Models.ForgotPasswordViewModel
@{
    Layout = "~/Areas/Default/Views/Shared/DefaultLayout.cshtml";
    ViewBag.Title = "Забыли пароль?";
}

<td>

    <div class="dostavka">

        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
        {
            @Html.AntiForgeryToken()
    <div class="block" style="position: absolute; bottom: -15px; right: 5px;">
        @Html.ValidationSummary("", new { @class = "text-danger" })
    </div>
            <p class="center">
                Укажите E-mail, указанный при регистрации. На данный E-mail придет письмо с инструкцией по восстановлению пароля.
            </p>

            <div class="form-group center">
                @Html.LabelFor(m => m.Email, new {@class = "col-md-2 control-label"})

                <div class="col-md-10 center">
                    @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
                </div>
            </div>
            <div class="form-group center">
                <div class="col-md-offset-2 col-md-10 padding10">
                    <input type="submit" class="button_submit btn btn-default" value="Отправить"/>
                </div>
            </div>
        }
    </div>
</td>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
