@using System.Web.UI.WebControls
@model  FashionStones.Models.RegisterViewModel
@{
    ViewBag.Title = "Fashion Stones - Регистрация";
    Layout = "~/Areas/Default/Views/Shared/DefaultLayout.cshtml";
}
<td>
    <div class="dostavka">
        <div class="show_block_register">
            <div>
                <p>
                    <h2>Для регистрации как оптовый покупатель</h2> Вам необходимо пройти простую регистрацию, после которой с Вами свяжется менеджер по оптовым закупкам для активации Вашей учетной записи.
                </p>
                <p>
                    Желательно указать вид деятельности ЧП (магазин, киоск на рынке, ярмарки, группа в социальной сети) где Вы работаете! Вид деятельности указывается при регистрации клиента!
                    Для регистрации как оптовый покупатель Вам необходимо пройти простую регистрацию, после которой МЫ свяжемся с ВАМИ для потверждения и активации Вашей учетной записи для дальнейшей работы.
                </p>
                <p>
                    Оптовые цены указаны с учётом процентов, в связи с колебанием курса ДОЛЛАРА. Цена на товар может меняться,
                    при уточнении цены на товар звоните по тел. 0983636002 или 0955437583.
                </p>
                <p>
                    Все цены указаны с <span class="red">УЧЕТОМ ПРОЦЕНТА!</span>
                </p>
                <ol>
                    Есть несколько условий сотрудничества:
                    <li>Не раздавать Ваш Логин и пароль третим лицам (система автоматически блокирует подобное).</li>
                    <li>Минимальный ПЕРВЫЙ заказ 1000 грн. по оптовым ценам, последующие 200 грн.</li>
                    <li>Учетная запись активируется на 15 дней до первого заказа, после которого все ограничения будут сняты.</li>
                </ol>
            </div>
            <button type="button" value="Отмена" class="button_submit btn btn-default block_register">Согласен</button>
        </div>
        <div class="hide_block_register" style="display: none;">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <h2>Регистрация</h2>
                <table class="center_table">
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <span style="color: red"> * </span>
                        </td>
                        <td>@Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })</td>
                        <td>@Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })</td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <span style="color: red"> * </span>
                        </td>
                        <td>@Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })</td>
                        <td>@Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })</td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.MiddleName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <span style="color: red"> * </span>
                        </td>
                        <td>@Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control" } })</td>
                        <td>@Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })</td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.CountryId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <span style="color: red"> * </span>
                        </td>
                        <td>@Html.DropDownList("CountryId", null, htmlAttributes: new { @class = "form-control" })</td>
                        <td>@Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger" })</td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
                            <span style="color: red"> * </span>
                        </td>
                        <td>@Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })</td>
                        <td>@Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })</td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                            <span style="color: red"> * </span>
                        </td>
                        <td>@Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", placeHolder="+380955437583" } })</td>
                        <td>@Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })</td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                            <span style="color: red"> * </span>
                        </td>
                        <td>@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })</td>
                        <td>@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })</td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                            <span style="color: red"> * </span>
                        </td>
                        <td>@Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })</td>
                        <td>@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })</td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new {@class = "control-label col-md-2"})
                            <span style="color: red"> * </span>
                        </td>
                        <td>@Html.EditorFor(model => model.ConfirmPassword, new {htmlAttributes = new {@class = "form-control"}})</td>
                        <td>@Html.ValidationMessageFor(model => model.ConfirmPassword, "", new {@class = "text-danger"})</td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.KindOfActivity, htmlAttributes: new { @class = "control-label col-md-2" })
                            <span style="color: red"> * </span>
                        </td>
                        <td colspan="2">@Html.TextAreaFor(model => model.KindOfActivity, new { @class = "form-control",@placeholder = "Вид деятяльности, место работы."} )</td>
                    </tr>
                </table>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Зарегистрироваться" class="button_submit btn btn-default" />
                        <button type="button" value="Отмена" class="button_submit btn btn-default block_register">Отмена</button>
                    </div>
                </div>
            }

        </div>
    </div>
</td>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
