@model FashionStones.Models.ResetPasswordViewModel
@{
    Layout = "~/Areas/Default/Views/Shared/DefaultLayout.cshtml";
    ViewBag.Title = "Fashion Stones - Сброс пароля";
}

<td>
    <div class="dostavka">
        <h2>Сброс пароля</h2>
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
        {

            @Html.AntiForgeryToken()
            <div class="block" style="position: absolute; bottom: -15px; right: 5px;">
                @Html.ValidationSummary("", new {@class = "text-danger"})
            </div>
            @Html.HiddenFor(model => model.Code)
            <div class="form-group center">
                @Html.LabelFor(m => m.Email, new {@class = "col-md-2 control-label"})
                <div class="col-md-10">
                    <p>
                        @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})</p>
                </div>
            </div>
            <div class="form-group center">
                @Html.LabelFor(m => m.Password, new {@class = "col-md-2 control-label"})
                <div class="col-md-10">
                    <p>
                        @Html.PasswordFor(m => m.Password, new {@class = "form-control"})</p>
                </div>
            </div>
            <div class="form-group center">
                @Html.LabelFor(m => m.ConfirmPassword, new {@class = "col-md-2 control-label"})
                <div class="col-md-10">
                    <p>
                        @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control"})</p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 padding10">
                    <input type="submit" class="button_submit btn btn-default" value="Сбросить"/>
                </div>
            </div>
        }
    </div>
</td>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
