@model FashionStones.Models.Domain.Entities.Product

@{
    ViewBag.Title = "Удаление";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h3>Вы действительно хотите удалить данный товар?</h3>
<div>
    
        <hr />
        <dl class="dl-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
               <h4> Артикль</h4>
                <div class="col-md-10">
                    @Html.DisplayTextFor(m => m.Id)

                </div>
            </div>


            <dt>
                <h4>
                    @Html.DisplayNameFor(model => model.Name)
                </h4>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>


            <dd>
                <img src="@Url.Content(Model.JewelPHoto.PathToSmall)">
            </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("К списку товаров", "Index")
        </div>
    }
</div>
