@model FashionStones.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Fashion Stones - Смена пароля";
    Layout = "~/Areas/Default/Views/Shared/DefaultLayout.cshtml";
}
<td>
<div class="dostavka">
    <h2>Смена пароля</h2>
    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
    {
        @Html.AntiForgeryToken()
        <hr/>
            <div class="block" style="position: absolute; bottom: -15px; right: 5px;">
        @Html.ValidationSummary("", new {@class = "text-danger"})
                </div>
        <div class="form-group center">
            @Html.LabelFor(m => m.OldPassword, new {@class = "col-md-2 control-label"})
            <div class="col-md-10">
                @Html.PasswordFor(m => m.OldPassword, new {@class = "form-control"})
            </div>
        </div>
        <div class="form-group center">
            @Html.LabelFor(m => m.NewPassword, new {@class = "col-md-2 control-label"})
            <div class="col-md-10">
                @Html.PasswordFor(m => m.NewPassword, new {@class = "form-control"})
            </div>
        </div>
        <div class="form-group center">
            @Html.LabelFor(m => m.ConfirmPassword, new {@class = "col-md-2 control-label"})
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control"})
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 padding10">
                <input type="submit" value="Изменить пароль" class="button_submit btn btn-default"/>
            </div>
        </div>
    }
</div>
    </td>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
